/* Soluzione qui */
@media all and (min-width: 768px) {

	main {
		padding: 45px;
	}

	#topbar {
		justify-content: flex-start;
	}

	.recipe-origin {
		display: inline;
	}

	.recipe-name {
		font-size: 2em;
	}

	ul {
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
	column-gap: 40px;
	}

	.btn {
    padding: 10px 55px;
	}

	.social-networks {
    gap: 15px;
	}

	.ads {
	display: block;
	}
}