/* Soluzione qui */
/* MEDIA @ LARGE MOBILE */
@media all and (min-width: 576px) {
  .presentation img {
    float: left;
    margin-right: 32px;
  }
  .btn {
    padding: 10px 55px;
  }

  .social-networks {
    gap: 15px;
  }


}

/* MEDIA @ TABLET  */
@media all and (min-width: 768px) {
  main {
    padding: 45px;
  }

  #topbar {
    justify-content: flex-start;
  }

  .recipe-origin {
    display: inline;
  }

  .recipe-title {
    font-size: 2em;
  }

  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
  }

  .quick-notes ul li {
    width: calc(100% / 3);
  }

  .btn {
    padding: 10px 55px;
  }

  .social-networks button{
    width: 20%;
  }

  .ads {
    display: block;
  }

  .presentation img {
    float: left;
    margin-right: 32px;
  }
}

/* MEDIA @ DESKTOP */

@media all and (min-width: 992px) {
  .recipe-title {
    font-size: 3em;
  }

  .quick-notes ul {
    display: block;
  }

  .recipe-card {
    display: flex;
  }

  .recipe-video {
    width: 70%;
    max-height: 420px;
  }

  .recipe-info {
    width: 30%;
  }

  .social-networks .label {
    display: inline;
  }

  .btn {
    padding: 10px 40px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    text-align: start;
  }

  footer ul {
    column-gap: 0;
  }
}
